/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.note-card {
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;
}
